<p>
	<strong>Nombre:</strong> <%= @card_type.name %>
</p>

<p>
	<strong>Edición:</strong> <%= @card_type.edition %>
</p>

<%= link_to 'Editar', edit_card_type_path(@card_type) %> |
<%= link_to 'Atras', card_types_path %>