<<<<<<< HEAD
<h1>New card</h1>

<%= render 'form' %>

<%= link_to 'Back', cards_path %>
=======
<h1>Añadir carta</h1>

<%= render 'form' %>

<%= link_to 'Atras', cards_path %>
>>>>>>> 204073be7cfe6a58469c6377091f9a1e2a7f478d
