<div class="row">
	<div class="span2">
		<h4>Carta <%= @card.id %></h4>
		<br />
	</div>
</div>
<div class="row">
	<div class="span1">
		<strong>Nombre: </strong>
	</div>
	<div class="span3">
 		<%= @card.card_type.name %>
	</div>
</div>
<div class="row">
	<div class="span1">
		<strong>Edición: </strong>
	</div>
	<div class="span3">
 		<%= @card.card_type.edition %>
	</div>
</div>
<div class="row">
	<div class="span1">
		<br />
		<br />
		<%= link_to 'Atras', cards_path, :class => "btn" %>
	</div>
</div>